body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fef6e4;
    text-align: center;
}

header {
    background-color: #ffb703;
    padding: 20px;
}

nav {
    background-color: #fb8500;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 30px;
}

h2 {
    color: #023047;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 10px 0;
}

footer {
    background-color: #023047;
    color: white;
    padding: 15px;
}
